---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/sections/Hero.astro';
import Process from '../components/sections/Process.astro';
import Benefits from '../components/sections/Benefits.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import Pricing from '../components/sections/Pricing.astro';
import Payment from '../components/sections/Payment.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
---

<BaseLayout>
  <main>
    <Hero />
    <Process />
    <Benefits />
    <Testimonials />
    <Pricing />
    <Payment />
    <Contact />
  </main>

  <Footer />
</BaseLayout>